%h1.logo
    Solar explorer
    %span in only CSS
%input.planet9{:type => 'radio', :id => 'pluto', :name => 'planet'}
%label.pluto.menu{:for => 'pluto'}
    .preview
    .info
        %h2 
            .pip
            Pluto
        %h3 39.5 AU
%input.planet8{:type => 'radio', :id => 'neptune', :name => 'planet'}
%label.neptune.menu{:for => 'neptune'}
    .preview
    .info
        %h2 
            .pip
            Neptune
        %h3 30.06 AU
        
%input.planet7{:type => 'radio', :id => 'uranus', :name => 'planet'}
%label.uranus.menu{:for => 'uranus'}
    .preview
    .info
        %h2 
            .pip
            Uranus
        %h3 19.18 AU
        
%input.planet6{:type => 'radio', :id => 'saturn', :name => 'planet'}
%label.saturn.menu{:for => 'saturn'}
    .preview
    .info
        %h2 
            .pip
            Saturn
        %h3 9.539 AU
        
%input.planet5{:type => 'radio', :id => 'jupiter', :name => 'planet'}
%label.jupiter.menu{:for => 'jupiter'}
    .preview
    .info
        %h2 
            .pip
            Jupiter
        %h3 5.203 AU
%input.planet4{:type => 'radio', :id => 'mars', :name => 'planet', :checked => 'checked'}
%label.menu.mars{:for => 'mars'}
    .preview
        
    .info
        %h2 
            .pip
            Mars
        %h3 1.524 AU
%input.planet3{:type => 'radio', :id => 'earth', :name => 'planet', :checked => 'checked'}
%label.menu.earth{:for => 'earth'}
    .preview
        
    .info
        %h2 
            .pip
            Earth
        %h3 1 AU
%input.planet2{:type => 'radio', :id => 'venus', :name => 'planet', :checked => 'checked'}
%label.menu.venus{:for => 'venus'}
    .preview
        
    .info
        %h2 
            .pip
            Venus
        %h3 0.723 AU
%input.planet1{:type => 'radio', :id => 'mercury', :name => 'planet', :checked => 'checked'}
%label.menu.mercury{:for => 'mercury'}
    .preview
        
    .info
        %h2 
            .pip
            Mercury
        %h3 0.39 AU
.solar
    .solar_systm
        .planet.mercury
            .planet_description.mercury
                %h2 Planet
                %h1 Mercury
                %p The closest planet to the sun. It circles the sun faster than all the other planets, which is why Romans named it after their swift-footed messenger god.
                %label{:for => 'readMercury'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.venus
            .planet_description.venus
                %h2 Planet
                %h1 Venus
                %p Named for the Roman goddess of love and beauty. In ancient times, Venus was often thought to be two different stars, the evening star and the morning star.
                %label{:for => 'readVenus'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.earth
            .moon.moon
                %h3 Moon
                %h2 Moon
            .trajectory.m
            .planet_description.earth
                %h2 Planet
                %h1 Earth
                %p Earth, our home. It is the only planet known to have an atmosphere containing free oxygen, oceans of liquid water on its surface, and, of course, life.
                %label{:for => 'readEarth'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.mars
            .moon.deimos
                %h3 Moon
                %h2 Deimos
            .trajectory.d
            .moon.phoebos
                %h3 Moon
                %h2 Phoebos
            .trajectory.p
            .planet_description.mars
                %h2 Planet
                %h1 Mars
                %p Fourth planet from the Sun and the second smallest planet in the solar systm. Named after the Roman god of war often described as the “Red Planet”.
                %label{:for => 'readMars'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.jupiter
            .moon.lo
                %h3 Moon
                %h2 Io
            .moon.europa
                %h3 Moon
                %h2 Europa
            .moon.ganymede
                %h3 Moon
                %h2 Ganymede
            .trajectory.lop
            .trajectory.eu
            .trajectory.ga
            .planet_description.jupiter
                %h2 Planet
                %h1 Jupiter
                %p Jupiter is the largest planet in the solar systm. Fittingly, it was named after the king of the gods in Roman mythology. 
                %label{:for => 'readJupiter'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.saturn
            .moon.titan
                %h3 Moon
                %h2 Titan
            .moon.dione
                %h3 Moon
                %h2 Dione
            .moon.enceladus
                %h3 Moon
                %h2 Enceladus
            .trajectory.ti
            .trajectory.di
            .trajectory.enc
            .planet_description.saturn
                %h2 Planet
                %h1 Saturn
                %p Saturn is the sixth planet from the sun and the second largest planet in the solar systm. Saturn was the Roman name for Cronus, the lord of the Titans.
                %label{:for => 'readSaturn'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.uranus
            .moon.miranda
                %h3 Moon
                %h2 Miranda
            .moon.ariel
                %h3 Moon
                %h2 Ariel
            .moon.umbriel
                %h3 Moon
                %h2 Umbriel
            .trajectory.mir
            .trajectory.ari
            .trajectory.umb
            .planet_description.uranus
                %h2 Planet
                %h1 Uranus
                %p The first planet to be discovered by scientists. The planet is notable for its dramatic tilt, which causes its axis to point nearly directly at the sun.
                %label{:for => 'readUranus'}
                    %a 
                        Read Mor
                        %span e
            .overlay
    .solar_systm
        .planet.neptune
            .moon.triton
                %h3 Moon
                %h2 Triton
            .moon.proteus
                %h3 Moon
                %h2 Proteus
            .moon.nereid
                %h3 Moon
                %h2 Nereid
            .trajectory.tri
            .trajectory.pro
            .trajectory.ner
            .planet_description.neptune
                %h2 Planet
                %h1 Neptune
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                %label{:for => 'readNeptune'}
                    %a 
                        Read Mor
                        %span e     
            .overlay
    .solar_systm
        .planet.pluto
            .planet_description.pluto
                %h2 Dwarf planet
                %h1 Pluto
                %p Pluto, once considered the ninth and most distant planet from the sun, is now the largest known dwarf planet in the solar systm.
                %label{:for => 'readPluto'}
                    %a 
                        Read Mor
                        %span e     
            .overlay                 
                        
%input.read{:type => 'radio', :id => 'readMercury', :name => 'mercuryRead'}
%label.closeBig{:for => 'closeMercury'}
%input.read{:type => 'radio', :id => 'closeMercury', :name => 'mercuryRead'}
.panel
    %h1 Mercury
    
    %p Mercury is the closest planet to the sun. As such, it circles the sun faster than all the other planets, which is why Romans named it after their swift-footed messenger god.

    %p The Sumerians also knew of Mercury since at least 5,000 years ago. It was often associated with Nabu, the god of writing. Mercury was also given separate names for its appearance as both a morning star and as an evening star. Greek astronomers knew, however, that the two names referred to the same body, and Heraclitus, around 500 B.C., correctly thought that both Mercury and Venus orbited the sun, not Earth.
    
    %img{:src => 'https://i2.wp.com/www.astronomytrek.com/wp-content/uploads/2012/11/mercury-1.jpg?fit=678%2C381&ssl=1'}
    
    %h2 A year on Mercury is just 88 days long.
    %p One solar day (the time from noon to noon on the planet’s surface) on Mercury lasts the equivalent of 176 Earth days while the sidereal day (the time for 1 rotation in relation to a fixed point) lasts 59 Earth days. Mercury is nearly tidally locked to the Sun and over time this has slowed the rotation of the planet to almost match its orbit around the Sun. Mercury also has the highest orbital eccentricity of all the planets with its distance from the Sun ranging from 46 to 70 million km.

    %h2 Mercury is the smallest planet in the Solar Systm.
    %p One of five planets visible with the naked eye a, Mercury is just 4,879 Kilometres across its equator, compared with 12,742 Kilometres for the Earth.

    %h2 Mercury is the second densest planet. 
    %p Even though the planet is small, Mercury is very dense. Each cubic centimetre has a density of 5.4 grams, with only the Earth having a higher density. This is largely due to Mercury being composed mainly of heavy metals and rock.

    %h2 Mercury has wrinkles.
    %p As the iron core of the planet cooled and contracted, the surface of the planet became wrinkled. Scientist have named these wrinkles, Lobate Scarps. These Scarps can be up to a mile high and hundreds of miles long.
    %br
    
%input.read{:type => 'radio', :id => 'readVenus', :name => 'venusRead'}
%label.closeBig{:for => 'closeVenus'}
%input.read{:type => 'radio', :id => 'closeVenus', :name => 'venusRead'}
.panel
    %h1 Venus
    %p Venus, the second planet from the sun, is named for the Roman goddess of love and beauty. The planet — the only planet named after a female — may have been named for the most beautiful deity of her pantheon because it shone the brightest of the five planets known to ancient astronomers.

    %p In ancient times, Venus was often thought to be two different stars, the evening star and the morning star — that is, the ones that first appeared at sunset and sunrise. In Latin, they were respectively known as Vesper and Lucifer. In Christian times, Lucifer, or "light-bringer," became known as the name of Satan before his fall. However, further observations of Venus in the space age show a very hellish environment. This makes Venus a very difficult planet to observe from up close, because spacecraft do not survive long on its surface.
    
    %img{:src => 'https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2014/2-whatistheave.jpg'}
    
    %h2 A day on Venus lasts longer than a year. 
    %p It takes 243 Earth days to rotate once on its axis (sidereal day). The planet’s orbit around the Sun takes 225 Earth days, compared to the Earth’s 365. A day on the surface of Venus (solar day) takes 117 Earth days.
    
    %h2 Venus rotates in the opposite direction to most other planets. 
    %p This means that Venus is rotating in the opposite direction to the Sun, this is also know as a retrograde rotation. A possible reason might be a collision in the past with an asteroid or other object that caused the planet to alter its rotational path. It also differs from most other planets in our solar systm by having no natural satellites.
    
    %h2 Venus is the second brightest object in the night sky. 
    %p Only the Moon is brighter. With a magnitude of between -3.8 to -4.6 Venus is so bright it can be seen during daytime on a clear day.

    %h2 Atmospheric pressure on Venus is 92 times greater than the Earth’s. 
    %p While its size and mass are similar to Earth, the small asteroids are crushed when entering its atmosphere, meaning no small craters lie on the surface of the planet. The pressure felt by a human on the surface would be equivalent to that experienced deep beneath the sea on Earth.
    %br
    
%input.read{:type => 'radio', :id => 'readEarth', :name => 'earthRead'}
%label.closeBig{:for => 'closeEarth'}
%input.read{:type => 'radio', :id => 'closeEarth', :name => 'earthRead'}
.panel
    %h1 Earth
    %p Earth, our home, is the third planet from the sun. It is the only planet known to have an atmosphere containing free oxygen, oceans of liquid water on its surface, and, of course, life.

    %p Earth is the fifth largest of the planets in the solar systm — smaller than the four gas giants, Jupiter, Saturn, Uranusand Neptune, but larger than the three other rocky planets, 
    
    %img{:src => 'https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&h=350'}
    
    %h2 The Earth’s rotation is gradually slowing.
    %p This deceleration is happening almost imperceptibly, at approximately 17 milliseconds per hundred years, although the rate at which it occurs is not perfectly uniform. This has the effect of lengthening our days, but it happens so slowly that it could be as much as 140 million years before the length of a day will have increased to 25 hours.
 
    %h2 The Earth was once believed to be the centre of the universe.
    %p Due to the apparent movements of the Sun and planets in relation to their viewpoint, ancient scientists insisted that the Earth remained static, whilst other celestial bodies travelled in circular orbits around it. Eventually, the view that the Sun was at the centre of the universe was postulated by Copernicus, though this is also not the case.
    
    %h2 Earth has a powerful magnetic field.
    %p This phenomenon is caused by the nickel-iron core of the planet, coupled with its rapid rotation. This field protects the Earth from the effects of solar wind.

    %h2 There is only one natural satellite of the planet Earth.
    %p As a percentage of the size of the body it orbits, the Moon is the largest satellite of any planet in our solar systm. In real terms, however, it is only the fifth largest natural satellite.
    %br
    
%input.read{:type => 'radio', :id => 'readMars', :name => 'marsRead'}
%label.closeBig{:for => 'closeMars'}
%input.read{:type => 'radio', :id => 'closeMars', :name => 'marsRead'}
.panel
